<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div th:fragment="footers">
  <section class="process">
    <div class="container" style="position: unset">
      <div class="col-sm-6 col-md-4">
        <div class="media ht-media">
          <div class="media-left">
            <i class="fa fa-phone bg-6"></i>
          </div>
          <div class="media-body">
            <h5 class="media-heading">支持7天24小时在线: 0123-456-789</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="media ht-media">
          <div class="media-left">
            <i class="fa fa-truck bg-2"></i>
          </div>
          <div class="media-body">
            <h5 class="media-heading">免费送货到家</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="media ht-media">
          <div class="media-left">
            <i class="fa fa-undo bg-3"></i>
          </div>
          <div class="media-body">
            <h5 class="media-heading">100% 退款保证</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer class="color-inher">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 m-b-xs-30">
            <h3 class="title">有关信息</h3>
            <ul>
              <li><a href="#">关于我们</a></li>
              <li><a href="#">配送信息</a></li>
              <li><a href="#">隐私政策</a></li>
              <li><a href="#">条款及细则</a></li>
            </ul>
          </div>
          <div class="col-sm-3 m-b-xs-30">
            <h3 class="title">我的帐户</h3>
            <ul>
              <li><a href="#">我的帐户</a></li>
              <li><a href="#">订单历史</a></li>
              <li><a href="#">愿望清单</a></li>
              <li><a href="#">指南使用</a></li>
            </ul>
          </div>
          <div class="col-sm-3 m-b-xs-30">
            <h3 class="title">附加功能</h3>
            <ul>
              <li><a href="#">品牌品牌</a></li>
              <li><a href="#">优惠券</a></li>
              <li><a href="#">会员关系</a></li>
              <li><a href="#">特价商品</a></li>
            </ul>
          </div>
          <div class="col-sm-3 m-b-xs-30">
            <h3 class="title">客户服务</h3>
            <ul>
              <li><a href="#">联系我们</a></li>
              <li><a href="#">返回</a></li>
              <li><a href="#">网站地图</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
</body>
</html>