<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>订单查看</title>
  <!-- JqueryUI -->
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <!-- Awesome font icons -->
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" media="screen">
  <!-- Owlcoursel -->
  <link rel="stylesheet" type="text/css" href="/css/owl-coursel/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="/css/owl-coursel/owl.transitions.css">
  <!-- Magnific-popup -->
  <link rel="stylesheet" type="text/css" href="/css/magnific-popup/magnific-popup.css">
  <!-- Magnific-popup -->
  <link rel="stylesheet" type="text/css" href="/css/magnific-popup/magnific-popup.css">
  <!-- Style -->
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
  <!-- Fw -->
  <link rel="stylesheet" type="text/css" href="/css/fw.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/js/layui/css/layui.css" media="screen">
  <script src="/js/layui/layui.all.js"></script>
</head>
<body>
<div class="preloader">
  <i class="fa fa-spinner"></i>
</div>
<header th:insert="templates/head :: header"></header>
<div class="heading-inner-page">
  <div class="container">
    <h2>订单查看页面</h2>
    <ul class="breadcrumb">
      <li><a href="/index">首页</a></li>
      <li>订单查看</li>
    </ul>
  </div>
</div>

<div class="col-sm-8 col-md-8" style="position:relative;left: 50%;transform: translate(-50%,0%)">
  <div class="col-sm-12 col-md-12 col-lg-12 p-0">
    <div class="search-box m-l-xs-15 m-r-xs-15">
      <input type="text" class="form-item input" placeholder="请输入...">
      <button type="submit" class="fa fa-search" onclick="findLike()"></button>
    </div>
  </div>
  <table style="border-collapse: collapse;" border="1" class="table table-bordered table-hover " id="trr">
    <tr class="success">
      <th class="col-md-4" colspan="3" style="text-align: center">宝贝</th>
      <th class="col-md-1" style="text-align: center">价格</th>
      <th class="col-md-1" style="text-align: center">数量</th>
      <th class="col-md-1" style="text-align: center">小计</th>
    </tr>
  </table>
  <table style="border-collapse: collapse;text-align: center;font-size: 16px" border="1"
         class="table table-bordered table-hover" th:each="Orders:${list.list}">
    <tr>
      <td colspan="1" class="col-md-2" style="line-height: 34px">订单编号:</td>
      <td colspan="2" class="col-md-8 Order" th:text="${Orders.o_id}"
          style="font-size: 15px;text-align: left;line-height: 34px"></td>
      <td colspan="1" style="line-height: 34px">订单时间:</td>
      <td colspan="2" th:text="${#dates.format(Orders.create_time,'yyyy-MM-dd HH:mm:ss')}"
          style="font-size: 15px;text-align: left;line-height: 34px"></td>
      <td class="col-md-2">
        <button class="btn btn-danger del">删除订单</button>
      </td>
    </tr>
    <tr th:each="product:${Orders.orderDetailsList}" class="test">
      <td class="col-md-1" style="height:100px; width:100px">
        <a th:href="@{'/detail?p_id='+${product.product.p_id}}">
          <img th:src="'/pubimages/'+${product.product.p_image}" alt="image" height="100" width="100"></td>
      </a>
      <td colspan="3" class="col-md-3" style="text-align: left">
        <p th:text="'商品名称&nbsp;:&nbsp;'+${product.product.p_name}"></p>
        <p th:text="'商品描述&nbsp;:&nbsp;'+${product.product.p_overview}"></p>
      </td>
      <td class="col-md-1 product-price" style="line-height: 100px;font-size:20px;color:#4dce2e;font-weight:normal;"
          th:text="'￥'+${product.product.p_price}"></td>
      <td class="col-md-1" style="line-height: 100px" th:text="${product.od_count}"></td>
      <td class="col-md-1 product-price" style="line-height: 100px;font-size:20px;color:#4dce2e;font-weight:normal;"
          th:text="'￥'+${product.od_count*product.product.p_price}"></td>

    </tr>
    <tr>
      <td colspan="1" class="col-md-1" style="line-height: 100px">
      <td colspan="2" class="col-md-1 " style="line-height: 100px;font-size:20px;color:red;font-weight:normal;"
          th:text="'总价:  ￥'+${Orders.totalmoney}">
      <td colspan="3" class="col-md-1" style="line-height: 33.3px">
        <span th:text="'收货人:'+${Orders.username}"></span>
        <br>
        <span th:text="'电话:'+${Orders.telephone}"></span>
        <br>
        <span th:text="'地址:'+${Orders.address}"></span>
      </td>
      <td style="line-height: 100px" th:if="${Orders.paystate}!=1"><a
              th:href="@{'/loginBefore/payFor?o_id='+${Orders.o_id}+'&totalmoney='+${Orders.totalmoney}}">
        <button class="btn">去付款</button>
      </a></td>
      <td style="line-height: 100px" th:if="${Orders.paystate==1&&Orders.Destate!=1}">未发货</td>
      <td style="line-height: 100px" th:if="${Orders.paystate==1&&Orders.Destate==1}">已发货</td>
    </tr>
  </table>
  <!--分页--->
  <ul class="pagination">
    <div class="btn-group btn-group-lg" style="margin:0 auto">
      <ul class="pagination">
        <li><a th:href="@{'/loginBefore/'+${str}+'?page='+${list.navigateFirstPage}+'&text='+${text}}"
               aria-label="Previous">首页</a></li>
        <li><a th:href="@{'/loginBefore/'+${str}+'?page='+${list.pageNum-1}+'&text='+${text}}">上一页</a></li>
        <li th:each="each:${list.navigatepageNums}">
          <a th:href="@{'/loginBefore/'+${str}+'?page='+${each}+'&text='+${text}}" th:text="${each}"></a>
        </li>
        <li><a th:href="@{'/loginBefore/'+${str}+'?page='+${list.pageNum+1}+'&text='+${text}}">下一页</a></li>
        <li><a th:href="@{'/loginBefore/'+${str}+'?page='+${list.navigateLastPage}+'&text='+${text}}" aria-label="Next">尾页</a>
        </li>
      </ul>
    </div>
  </ul>
</div>

<footer th:insert="templates/footer :: footers"></footer>
<!-- jQuery -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- JqueryUI -->
<script src="/js/jquery/jquery-ui.js"></script>
<!-- Bootstrap -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- Owl-coursel -->
<script src="/js/owl-coursel/owl.carousel.js"></script>
<!-- Magnific-popup -->
<script src="/js/magnific-popup/jquery.magnific-popup.min.js"></script>
<!-- Script -->
<script src="/js/script.js"></script>
<script src="/js/alter.js"></script>
<script th:inline="javascript">
  let layer = layui.layer;
  $(".del").on('click', function () {
    let order_number = $(this).parents("tr").parents("table").find(".Order").text();
    let confirm = window.confirm("你是否要删除,删除后将无法恢复");
    if (confirm == true) {
      $.post("/loginBefore/userDelOrder", {o_id: order_number}, function (data) {
        if (data === null) {
          layer.msg("删除失败",{icon:6})
        }
        if (data.stateCode == 200) {
          layer.msg("删除成功",{icon:6,time:1000},function () {
            location.href = window.location.href
          })
        } else {
          layer.alert("删除失败")
        }
      })
    }
  })

  function findLike() {
    var val = $(".input").val();
    var str = val.replace(/(^\s*)|(\s*$)/g, '')
    window.location.href = "/loginBefore/findLikeOrders?text=" + str
  }

  $(".search").on('click', function () {
    var val = $(".form-item").val();
    var str = val.replace(/(^\s*)|(\s*$)/g, '')
    if (str === null || str === '') {
      layer.msg("请输入你要搜索的信息",{icon:3})
    } else {
      window.location.href = "/search?text=" + str
    }
  })
</script>
</body>
</html>

`