<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>购物车</title>
  <!-- JqueryUI -->
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <!-- Awesome font icons -->
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" media="screen">
  <!-- Owlcoursel -->
  <link rel="stylesheet" type="text/css" href="/css/owl-coursel/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="/css/owl-coursel/owl.transitions.css">
  <!-- Magnific-popup -->
  <link rel="stylesheet" type="text/css" href="/css/magnific-popup/magnific-popup.css">
  <!-- Magnific-popup -->
  <link rel="stylesheet" type="text/css" href="/css/magnific-popup/magnific-popup.css">
  <!-- Style -->
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
  <!-- Fw -->
  <link rel="stylesheet" type="text/css" href="/css/fw.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/js/layui/css/layui.css" media="screen">
  <script src="/js/layui/layui.all.js"></script>
</head>
<body>
<div class="preloader">
  <i class="fa fa-spinner"></i>
</div>
<header th:insert="templates/head :: header"></header>
<div class="heading-inner-page">
  <div class="container">
    <h2>购物车</h2>
    <ul class="breadcrumb">
      <li><a href="/index">首页</a></li>
      <li>购物车</li>
    </ul>
  </div>
</div>
<!-- Product -->
<section class="m-t-30">
  <div class="container">
    <div class="row">
      <!-- Product image gallery -->
      <div class="col-sm-6 col-md-6">
        <ul class="thumbnails p-0">
          <li>
            <a class="thumbnail img-large image-zoom" href="/images/8.jpg" width="500" height="500" title="iPhone">
              <img src="/images/8.jpg" alt="iPhone">
            </a>
          </li>
        </ul>
      </div>
      <!-- Product decr -->
      <div class="col-sm-5 col-md-6">
        <div class="product-pare m-t-xs-60">
          <table style="border-collapse: collapse;" border="1" class="table table-bordered table-hover">

            <tr style="text-align: center">
              <td colspan="7">
                <div style="text-align: center;font-size: 26px" th:text="${session.user.u_name}+'的购物车'"></div>
              </td>
              <td>
                <button class="btn btn-primary empty">清空购物车</button>
              </td>
            </tr>
            <tr class="success">
              <td><input type="checkbox" class="selectAll" IsSelect="false"></td>
              <th style="text-align: center">商品名称</th>
              <th style="text-align: center">单价</th>
              <th colspan="3" style="text-align: center">数量</th>
              <th style="text-align: center">小计</th>
              <th style="text-align: center">操作</th>
            </tr>
            <tr th:each="cart:${cart}" style="text-align: center">
              <td><input type="checkbox" name="p_id" th:value="${cart.p_id}" class="checkbox" IsSelect="false"></td>
              <td id="p_id" th:text="${cart.p_id}" hidden></td>
              <td style="vertical-align:middle">
                <a th:href="@{'/detail?p_id='+${cart.p_id}}" th:text="${cart.product.p_name}"></a>
              </td>
              <td th:text="${cart.product.p_price}" th:value="${cart.p_id}" style="vertical-align:middle"
                  class="price"></td>
              <td>
                <button class="btn less" role="group">-</button>
              </td>
              <td th:text="${cart.p_count}" th:value="${cart.p_id}" style="vertical-align:middle" class="count"></td>
              <td>
                <button class="btn add" role="group">+</button>
              </td>
              <td class="subtotal" th:value="${cart.p_id}" style="vertical-align:middle"></td>
              <td>
                <button class='btn btn-primary del'>删除商品</button>
              </td>
            </tr>
            <tr style="text-align: center">
              <td colspan="3" style="font-size: 25px; ">总价</td>
              <td colspan="4" id="total" style="font-size: 25px;width: 150px">0</td>
              <td colspan="2">
                <button class='btn btn-danger submitButton'>确认结算</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-center">
  <div class="container">
    <h3 class="title f-30">特价商品</h3>
    <p>每天都会有不同的特价商品</p>
    <div class="row">
      <tr th:each="list:${list}" class="owl" data-items="4" data-itemsDesktop="3" data-itemsDesktopSmall="2"
          data-itemsTablet="2" data-itemsMobile="1" data-transitionstyle="backslide" data-singleItem="false"
          data-autoplay="false" data-pag="false" data-buttons="false">
        <td>
          <div class="col-lg-12" style="width: 285px;height: 450px;float: left">
            <div class="product-item">
              <a th:href="@{'/detail?p_id='+${list.p_id}}">
                <img th:src="'/pubimages/'+${list.p_image}" alt="image" height="200" width="200">
              </a>
              <div class="product-caption">
                <h4 class="product-name">
                  <a th:href="@{'/detail?p_id='+${list.p_id}}" th:text="${list.p_name}"></a>
                </h4>
                <div class="product-price-group">
                  <span class="product-price" th:text="'￥'+${list.p_price}"></span>
                  <span class="product-list" th:text="'库存: '+${list.p_inventory}+' 件'"></span>
                </div>
                <p class="ht-btn-group">
                  <button class="btn ht-btn bg-3 m-t-0 addone">加入购物车</button>
                  <span id="p_id" th:text="${list.p_id}" class="hidden"></span>
                </p>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </div>
  </div>
</section>
<footer th:insert="templates/footer :: footers"></footer>
<!-- jQuery -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- JqueryUI -->
<script src="/js/jquery/jquery-ui.js"></script>
<!-- Bootstrap -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- Owl-coursel -->
<script src="/js/owl-coursel/owl.carousel.js"></script>
<!-- Magnific-popup -->
<script src="/js/magnific-popup/jquery.magnific-popup.min.js"></script>
<!-- Script -->
<script src="/js/script.js"></script>
<script src="/js/alter.js"></script>
<script>
  let layer = layui.layer;
  $(".addone").on('click', function () {
    let p_id = $(this).parents("p").find("#p_id").text();
    console.log(p_id)
    $.ajax({
      type: "post",
      url: "/loginBefore/addToShoppingCart",
      async: true,
      data: {p_id: p_id, p_count: 1},
      dataType: "JSON",
      success: function (data) {
        if (data.stateCode == 200) {
          layer.msg("成功添加到购物车!", {icon: 6, time: 1000}, function () {
            window.location.href = window.location.href;
          });
        } else {
          layer.alert("添加到购物车失败!");
        }
      },
      error: function (XMLHttpRequest) {
        var redirect = XMLHttpRequest.getResponseHeader("REDIRECT");
        if (redirect == "REDIRECT") {
          layer.alert("请先登录后添加到购物车！", function () {
            window.location.href = XMLHttpRequest.getResponseHeader("CONTEXTPATH");
          });
        }
      },
    });
  })
  $(function () {
    $(".checkbox").click(function () {
      let select = $(this).attr("IsSelect")
      if ("select" == select) {
        $(this).attr("IsSelect", "false")
      } else {
        $(this).attr("IsSelect", "select")
      }
      calcCartSumPriceAndNumber();
    })

    $(".selectAll").click(function () {
      let select = $(this).attr("IsSelect")
      if ("select" == select) {
        $(this).attr("IsSelect", "false")
        $(".checkbox").each(function () {
          $(this).attr("IsSelect", "false");
        });
      } else {
        $(this).attr("IsSelect", "select")
        $(".checkbox").each(function () {
          $(this).attr("IsSelect", "select");
        });
      }
      calcCartSumPriceAndNumber();
    })

    calcSubtotal();
    calcCartSumPriceAndNumber();

  })


  $(".del").on('click', function () {
    let p_id = $(this).parents("tr").find("#p_id").text();
    layer.confirm("你是否要删除该商品", {btn: ['确定', '取消'], icon: 3}
        , function () {
          $.post("/loginBefore/delProduct", {p_id: p_id}, function (data) {
            if (data === null) {
              layer.alert("删除失败");
            }
            if (data.stateCode === 200) {
              layer.msg("删除成功",{icon:6,time:1000},function () {
                window.location.href = "/loginBefore/shoppingCart"
              })
            } else {
              layer.alert("删除失败");
            }
          }, "json")
        })
  })

  $(".selectAll").on('click', function () {
    //获取所有的cd
    var elementsByName = $('[name=p_id]');
    for (var i = 0; i < elementsByName.length; i++) {
      elementsByName[i].checked = this.checked;
    }
  })

  $(".less").on('click', function () {
    let count = $(this).parents("tr").find(".count").text();
    let p_id = $(this).parents("tr").find("#p_id").text();
    if (count <= 1) {
      layer.msg("亲!不能再少了哦!!",{icon:5})
      return;
    }
    count = --count;
    calcSubtotal(count, p_id)
    calcCartSumPriceAndNumber()
    load(count, p_id)
  })

  $(".add").on('click', function () {

    let count = $(this).parents("tr").find(".count").text();
    let p_id = $(this).parents("tr").find("#p_id").text();
    if (count >= 20) {
      layer.msg("亲!太多了汝家受不了了哦!!",{icon:5})
      return;
    }
    count = ++count;
    calcSubtotal(count, p_id)
    calcCartSumPriceAndNumber()
    load(count, p_id)
  })
  $(".empty").on('click', function () {
    if (confirm("确定清空购物车？")) {
      $.post('/loginBefore/EmptyShopCart', function (data) {
        if (data === null) {
          layer.alert("清空购物车失败")
        }
        if (data.stateCode === 200) {
          layer.alert("清空购物车成功")
          window.location.href = "/loginBefore/shoppingCart"
        } else {
          layer.alert("清空购物车失败")
        }
      })
    }
  })

  $(".submitButton").on('click', function () {
    var params = "";
    $(".checkbox[IsSelect='select']").each(function () {
      let orderItemId = $(this).attr("value");
      params += "&p_id=" + orderItemId;
      console.log(orderItemId)
    });
    if (params == "" || params == null || params == undefined) {
      layer.alert("您未勾选任何商品")
      return;
    }
    params = params.substring(1);
    console.log(params)
    location.href = "/loginBefore/checkOut?" + params;
  })

  function load(count, p_id) {
    $.post("/loginBefore/updateProduct", {p_count: count, p_id: p_id}, function (data) {
      if (data === null) {
        layer.alert("修改失败");
      }
      if (data.stateCode === 200) {
      } else {
        layer.alert("修改失败");
      }
    }, "json")
  }

  function deleteMore() {
    if (confirm("确定删除？")) {
      var flag = false;
      //判断是否有选中
      var elementsByName = $('[name=p_id]');
      for (var i = 0; i < elementsByName.length; i++) {
        if (elementsByName[i].checked) {
          flag = true;
          break;
        }
      }
      if (flag) {

      }
    }
  }

  function formatMoney(num) {
    num = num.toString().replace(/\$|\,/g, '');
    if (isNaN(num))
      num = "0";
    sign = (num == (num = Math.abs(num)));
    num = Math.floor(num * 100 + 0.50000000001);
    cents = num % 100;
    num = Math.floor(num / 100).toString();
    if (cents < 10)
      cents = "0" + cents;
    for (var i = 0; i < Math.floor((num.length - (1 + i)) / 3); i++)
      num = num.substring(0, num.length - (4 * i + 3)) + ',' +
          num.substring(num.length - (4 * i + 3));
    return (((sign) ? '' : '-') + num + '.' + cents);
  }

  function calcCartSumPriceAndNumber() {
    let totalNumber = 0;
    $(".checkbox[IsSelect='select']").each(function () {
      let orderItemId = $(this).attr("value");
      let price = $(".subtotal[value=" + orderItemId + "]").text();
      price = price.replace(/,/g, "");
      price = price.replace(/￥/g, "");
      totalNumber += new Number(price);
    });
    $("#total").html("￥" + formatMoney(totalNumber));
  }

  function calcSubtotal(count, p_id) {
    console.log(count)
    $(".count[value=" + p_id + "]").html(count);
    let subtotal = 0;
    $(".checkbox").each(function () {
      let orderItemId = $(this).attr("value");
      let price = $(".price[value=" + orderItemId + "]").text();
      let count = $(".count[value=" + orderItemId + "]").text();
      subtotal = price * count;
      subtotal = new Number(subtotal);
      $(".subtotal[value=" + orderItemId + "]").html("￥" + formatMoney(subtotal));
    })
  }

  $(".search").on('click', function () {
    var val = $(".form-item").val();
    var str = val.replace(/(^\s*)|(\s*$)/g, '')
    if (str === null || str === '') {
      layer.alert("请输入你要搜索的信息")
    } else {
      console.log(val)
      window.location.href = "/search?text=" + str
    }
  })
</script>
</body>
</html>

